@import "../abstracts/variables";

.modal-img {
    text-align: center;
    margin: 40px 0;
    img {
        width: 90%;
        height: 560px;
        
    }
}

.modal-title {
    .name {
        font-size: 20px;
        font-weight: 500;
    }


    @extend .pr-name;

    @extend .review;

    @extend .price;

    @extend .category;

    @extend .gender;

    @extend .brand;

    @extend .size;

    @extend .color;

    @extend .desc;

    @extend .basket-side;


    @extend .check-out;
}

.compare-table {
   
    position: relative;

    .table-compare {
        .table-head {
            width: 15%;

        }

        .product-d {
            width: 30%;
            text-align: center;

            a {
                text-transform: uppercase;
                font-size: 12px;
                color: #727272;
                font-weight: 400;
            }
            p{
                font-size: 14px;
                font-weight: 400;
            }
        }

        .compare-img {
            img {
                padding: 25px;
                width: 150px;
                height: 200px;

            }
        }

        .compare-price {
            font-size: 14px;
            font-weight: 500;
            color: #d82e2e;
        }
    }
}

.compare-modal-header{
    text-align: center;
    border-bottom: 1px solid $border-color2;
}

.close-btn{
   position: absolute;
   background-color: #727272;
   color: aliceblue;
   font-size: 16px;
   font-weight: 500;
   padding: 2px 9px;
   text-align: center;
   right: -30px;
   top: -15px;
   cursor: pointer;
}