@import "../abstracts/extend";
.shopping-cart-del-btn{
	background-color: #0d6efd;
	color: #fff;
	padding: 4px 10px;
	border-radius: 3px;
	border: none;
	text-align: center;
}
.shopping-cart-heart-btn{
	background-color: #dc3545;
	color: #fff;
	padding: 4px 10px;
	border-radius: 3px;
	border: none;
}

.container-own {
    @extend .container-extend;
}

.input-btn{
	padding: 2px;
	height: 40px;
	width: 50px;
	background-color: #f9706a;
	border: none;
	border-radius: 3px;
	color: #fff;
}

.form-outline{
	width: 50%;
	text-align: center;
	.qt{
	border-radius: 2px;

		border: 1px solid rgb(230, 220, 220);
		padding: 8px 40px;
	}
}

.shopping-input{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.shoping-cart-img{
  text-align: center;
  img{
	padding: 10px 5px;
  }
}

.go-to-checkout-btn{
	background-color: #333;
	padding: 10px;
	width: 100%;
	text-align: center;
 color: #fff;
 font-weight: 500;
 border-radius: 2px;


 &:hover{
	background-color: #f9706a;
	color: #fff;
 }
}

@media(max-width:576px){
	.form-outline{
		width: 50%;
		text-align: center;
		.qt{
			border: 1px solid rgb(230, 220, 220);
			padding: 8px 70px;
		}
	}
}
