@import '../abstracts/extend';

.container-own{
    @extend .container-extend;
}

.main-container{
    margin-top:40px;    
}
.widget-author {
  margin-bottom: 58px;
}
.author-card {
  position: relative;
  padding-bottom: 48px;
  background-color: #fff;
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
}
.author-card .author-card-cover {
  position: relative;
  width: 100%;
  height: 100px;
  background-image: url('https://media.istockphoto.com/id/941775158/photo/brass-cogwheels-steampunk-background.webp?b=1&s=170667a&w=0&k=20&c=NSnujqkqfR0abVuY6c-Ydf3DlNJUkjuvsLA0geW89FY=');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.author-card .author-card-cover::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: 0.5;
}
.author-card .author-card-cover > .btn {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0 10px;
}
.author-card .author-card-profile {
  display: table;
  position: relative;
  margin-top: -22px;
  padding-right: 15px;
  padding-bottom: 16px;
  padding-left: 20px;
  z-index: 5;
}
.author-card .author-card-profile .author-card-avatar, .author-card .author-card-profile .author-card-details {
  display: table-cell;
  vertical-align: middle;
}
.author-card .author-card-profile .author-card-avatar {
  width: 85px;
  border-radius: 50%;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
  overflow: hidden;
}
.author-card .author-card-profile .author-card-avatar > img {
  display: block;
  width: 100%;
}
.author-card .author-card-profile .author-card-details {
  padding-top: 20px;
  padding-left: 15px;
}
.author-card .author-card-profile .author-card-name {
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: bold;
}
.author-card .author-card-profile .author-card-position {
  display: block;
  color: #8c8c8c;
  font-size: 12px;
  font-weight: 600;
}
.author-card .author-card-info {
  margin-bottom: 0;
  padding: 0 25px;
  font-size: 13px;
}
.author-card .author-card-social-bar-wrap {
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100%;
}
.author-card .author-card-social-bar-wrap .author-card-social-bar {
  display: table;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .11);
}
.btn-style-1.btn-white {
    background-color: #fff;
}
.list-group-item i {
    display: inline-block;
    margin-top: -1px;
    margin-right: 8px;
    font-size: 1.2em;
    vertical-align: middle;
}
.mr-1, .mx-1 {
    margin-right: .25rem !important;
}

.list-group-item.active:not(.disabled) {
    border-color: #e7e7e7;
    background: #fff;
    color: #ac32e4;
    cursor: default;
    pointer-events: none;
}
.list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 0;
}

.list-group-flush .list-group-item {
    border-right: 0 !important;
    border-left: 0 !important;
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
a.list-group-item, .list-group-item-action {
    color: #404040;
    font-weight: 600;
}
.list-group-item {
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #e7e7e7 !important;
    border-radius: 0 !important;
    color: #404040;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .08em;
    text-transform: uppercase;
    text-decoration: none;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
}

.profile-nav{
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09);
    
    .nav-box{
        border-bottom: 1px solid #efefee;
        padding-bottom: 10px;
    }

    .nav-title{
        color: #404040;
        font-weight: 600;
        font-size: 15px;
        cursor: pointer;
        &:hover{
            color: #f9706a;
        }
    }
}

.table-header{
   tr{
    th{
        font-size: 15px;
        color: #212529;
        font-weight: 600;
        text-align: center;
    }
   }
}
.table-body{
   tr{
    td{
        font-size: 13px;
        font-weight: 400;
        padding: 12px 0;
        text-align: center;
    }
   }
}

.warning{
    background-color: rgb(217, 152, 32);

}
.accept{
    background-color: rgb(26, 94, 26);
}

.danger{
    background-color: rgb(162, 45, 45);
}

.order-status{
    color: #fff;
    padding: 5px;
    border-radius: 4px;     
}

.form-content-profile{
    width: 85%;

    .form-data-profil{
        margin-bottom: 20px;
        width: 100%;
        .profile-custom-input{
            line-height: 50px;
            padding-left: 20px;
            border: 1px solid #e0e0e0;
            outline: none;
            border-radius: 4px;
            background-color: #fff;
            color: #333;

            &:focus {
                outline: 2px solid black;

            }
           width: 100%;
        }
    }
    .update-btn{
        
        button{
            padding: 10px 35px;
            border: none;
            background-color: #f9706a;
            color: #fff;
            font-size: 16px;
            text-align: center;
        }
    }
}

.my-wishlist-side{
    width: 85%;
    padding: 25px 30px ;
    position: relative;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);

    .left-side{
        .my-wishlist-img{
            background-color: #e0e0e0;
            border-radius: 8px;
            padding: 5px;
            img{
                width: 70px;
                height: 70px;

            }
        }
        .my-wishlist-content{
            margin-left: 20px;
            .content-title{
                font-size: 15px;
                font-weight: 600;
    
            }
            .content-price{
                font-size: 13px ;
                font-weight: 500;
            }
            .content-stock{
                font-size: 13px;
                font-weight: 500;
                color: red;
            }
        }

      
    }

    .delete-wish{
        position: absolute;
        top: 5px;
        right: 5px;
        color: #f9706a;
        cursor: pointer;
        
    }

    .add-to-card{
      button{
        background-color: #f9706a;
        color: #fff;
        text-align: center;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 600;
        border: none;
        border-radius: 2px;
        &:hover{
            background-color: #212529;
        }
      }
    }
}

